* {
  padding: 0px;
  margin: 0px;
  font-family: redo;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
  height: 85px;
  background-color:#333;
}

.navbar .logo {
  height: 50px;
  display: block;
}

.navbar .logo img {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
}

.navbar nav li {
  display: inline;
  height: 50px;
}

.navbar nav li a {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 10px 10px 10px 10px;
  font-size: 22px;
  font-weight: 600;
}

.navbar nav li a:hover {
  background-color: green;
  font-weight: 600px;
  border-radius: 10px;

}

.submenu {
  z-index: 1;
  display: none;
  position: absolute;
  background: gray;
  left: 101px;
  border-radius: 10px;
}

.navbar li:hover .submenu {
  display: block;
}

.navbar li:hover .submenu ul {
  display: block;
}

.navbar li:hover .submenu ul li a {
  display: block;
}

@media (max-width:700px) {
  .navbar {
    display: none;
  }

}

.navbar::after {
  position: absolute;
  content: "";
  height: 600px;
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: -2;
  background-color: white;
}

.m-navbar {
  display: none;
}

@media (max-width:700px) {
  .m-navbar {
    display: block;
  }
}

.m-navbar::after {
  position: absolute;
  content: "";
  height: 600px;
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: -2;
  background-color: white;
}

.m-navbar {
  background-color: gray;
  height: 50px;
}

.m-navbar i {
  display: block;
  font-size: 30px;
  padding-top: 9px;
  color: green;
  padding-left: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  color: gray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  color: green;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
  background-color: green;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border-radius: 10px;
}

#m-submenu {
  display: none;
}

#m-submenu ul li a {
  color: green;
  background-color: white;
  text-decoration: none;
  list-style: none;
}

#m-submenu ul li a:hover {
  color: white;
  background-color: green;
}

@media screen and(max-height:450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.food-area {
  padding-top: 30px;
  height: auto;
  padding-bottom: 40px;
}

.food1 {
  height: 450px;
  border: 1px solid green;
  margin: 0px 16px;
  box-shadow: 0.5px 0.6px 7px green;
  padding-bottom: 34px;
}
.food1 span p{
  padding-top: 10px;
  color: green;
}

.food1 img {
  height: 200px;
  width: 100%;
  margin: auto;
  display: block;
}

.food1 img {
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;


}

.food1 h5 {

  text-align: center;
  display: block;
  color: green;
  font-weight: 400;
  margin-top: 10px;
  background-color: rgb(224, 221, 221);
}

.food1 .btn {
  background-color: green;
  display: block;
  margin: auto;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  height: 50px;
  font-size: 20px;
  padding-bottom: 30px;
}

.food1 .btn:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}

@media (max-width:1200px) {
  .food-area {
    height: auto;
    padding-bottom: 0;
  }

  .food1 {
    margin-top: 25px;
  }
}

@media (max-width:700px) {
  .food-area {
    height: auto;
  }

  .food1 {
    margin-top: 25px;
  }
}

.footer {
  background-color: white;
  height: auto;
  padding-bottom: 20px;
  padding-top: 60px;
}

.footer .quik ul li {
  color: white;
  padding: 4px;
}

.footer .quik ul li a {
  color: black;
  font-family: redo;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  padding: 7px;
}

.footer .quik ul li a:hover {
  color: white;
  background-color: green;
  font-size: 20px;
  border-radius: 10px;
}

.footer .social-media ul li {
  color: white;
  padding: 4px;
}

.footer .social-media ul li a {
  color: black;
  font-family: redo;
  line-height: 30px;
  text-decoration: none;
  padding: 7px;
}

.footer .social-media ul li a:hover {
  color: white;
  background-color: green;
  font-size: 20px;
  border-radius: 10px;
}

.footer .address a {
  color: black;
  text-decoration: none;
  padding: 7px;
}

footer .address a:hover {
  color: white;
  background-color: green;
  font-size: 20px;
  border-radius: 10px;
}

/* .food-head h1 {
  color: green;
  font-family: redo;
  margin-top: 35px;
} */
.banner-head h1 {
  color: green;
  font-family: redo;
  padding-top: 245px;
  position: absolute;
  visibility: visible;
  padding-left: 250px;
  font-weight: 900;
}

@media (max-width:700px) {
  .banner-head h1 {
    padding-left: 25px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 100px;
  }

}

.banner-head img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
  /* position: relative; */
}

@media (max-width:700px) {
  .banner-head img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

}

.about-head h1 {
  color: green;
}

.about-head hr {
  background-color: green;
}

.about-content p i {
  color: green;
  font-size: 30px;
  padding-top: 5px;
}

/* @media (max-width:700px) {
  .about-content {
    padding: 20px;
  }

} */

.about {
  padding-top: 40px;
}

@media (max-width:700px) {
  .about-head h1 {
    font-size: 25px;
  }
}

.about-img img {
  width: 100%;
  padding-top: 50px;
  object-fit: cover;
  height: 522px;
  border-radius: 20px;
  padding-left: 75px;
}

@media (max-width:700px) {
  .about-img img {
    height: 350px;
    padding: 20px;
    border-radius: 35px;
  }
}

.our-head {
  text-align: center;
  color: green;
  font-family: redo;
  padding-top: 45px;
}

@media (max-width:700px) {
  .our-head {
    /* height: auto; */
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
}

.our-head hr {
  background-color: green;
}

@media (max-width:700px) {
  .design-f {
    font-size: 10px;
  }

}
.our-story .story-head h1{
  color: green;
  text-align: center;
}
.our-story .story-head hr{
  background-color: green;
  display: block;
}
.food-so{
  padding-top: 20px;
}
.banner-inner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.banner-inner{
  position: relative;
}
.inner-head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.inner-head h3{
  color: green;
  font-size: 30px;
}
.inner-head p{
  text-align: center;
}
.inner-head p a{
  color: #fff;
  font-size: 25px;
}
.inner-head p span{
  color: green;
  font-size: 25px;
}